spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/security_playground
    username: playground
    password: playground
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

logging:
  level:
    org.springframework.security: DEBUG
